.swiper {

  &-pagination {
    position: static;
    margin-top: 10px;
    &--off {
      display: none;
    }
  }

  &-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $placeholder-text;
  }
}
