$background-grey: #f8f8f8;
$item-border-grey: #eaeaea;
$item-border-green: #b8ffec;
$section-border-green: #d9fff5;
$black-text: #1b1c21;
$gray-text: #7e7e82;
$placeholder-text: #b5b6bc;
$pink: #ff3e79;
$green: #41f6d7;
$white: #ffffff;

$tablet: 768px;
$desktop: 1120px;
$desktop-max: 1440px;
